nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-inv
  .container
    button.navbar-toggler(data-toggle='collapse', data-target='#mainNav')
      // burger lines for links
      span.navbar-toggler-icon
    // collapsible navbar
    #mainNav.collapse.navbar-collapse
      // links for the other pages
      nav.nav.nav-masthead.justify-content-center
        a.nav-link.active(href='#') Home
        a.nav-link(href='#') Features
        a.nav-link(href='#') Contact