html
  head
    link(href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption', rel='stylesheet', type='text/css')
    link(href="/styles/404.css" rel="stylesheet")
  body
    // Error Page
    .error
      .container-floud
        .col-xs-12.ground-color.text-center
          .container-error-404
            .clip
              .shadow
                span.digit.thirdDigit
            .clip
              .shadow
                span.digit.secondDigit
            .clip
              .shadow
                span.digit.firstDigit
            .msg
              | OH!
              span.triangle
          h2.h1 Sorry! Page not found
          h2.h1
            a(href="/") Go back to the home page
    // Error Page

    script(type="text/javascript" src="/js/404.js")

