extends layout
block content
  div(class="container d-flex justify-content-center flex-column")
    include form.pug
    include includes/js.pug
    button(id="submitTrivia" type="submit") Get Question

