doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='./images/favicon.jpg')
    title quizify
    link(rel='canonical', href='https://getbootstrap.com/docs/4.0/examples/cover/')
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    // Custom styles for this template
    link(href='styles/landing.css', rel='stylesheet')
  body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.masthead-brand quizify
          nav.nav.nav-masthead.justify-content-center
            // <a class="nav-link active" href="#">Home</a>
            a.nav-link.active(href='/api/form') Flashcards
            a.nav-link.active(href='/api/trivia') Trivia
      main.inner.cover(role='main')
        h1.cover-heading Making Learning Great Again
        p.lead
          | We supply you with the platform needed to make learning fun. Choose between making personalized flash cards for any situation and/or test you knowledge on random trivia. Whichever you choose, we promise it'll be fun.
        p.lead
          a.btn.btn-lg.btn-secondary(href='/api/form') Create Flashcards
          a.btn.btn-lg.btn-secondary(href='/api/trivia') Test Your Knowledge
      footer.mastfoot.mt-auto
        .inner
          p
        .inner
          p
            a(href='https://flashcardsproject.herokuapp.com/') quizify@heroku
            | .
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\\/script>')
    script(src='../../assets/js/vendor/popper.min.js')
    script(src='../../dist/js/bootstrap.min.js')