extends layout

block content
  .jumbotron-fluid.bg-warning.text-white.text-center(style='background: rgb(170, 170, 170);')
    .container
      h1.display- Test your trivia Skills!
      p.lead We supply you with the platform needed to make learning fun again. 
  ul
    //- li= cardData.question
    p= question

  button(id="revealAnswer") Click here for answer!
  button(id="nextQuestion") Next Question

  include includes/js
  p(class="revealAnswer")= answer