form(action="/api/trivia" method="GET" class="d-flex justify-content-center flex-column")
    label(for="trivia") 
    //- br
    //- p How many questions do you want (up to 50)?
    //- input(id="questionAmount" type="text" name="question")
    //- br
include includes/js.pug